system:
Answer the users question based on the context below. Keep the answer short and concise. Respond "Unsure about answer" if not sure about the answer.

Context: {{context}}

user:
Question: {{question}}
